# Created by https://www.gitignore.io/api/emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# files in the fancy autosave location
autosaves/*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# ido-last file
ido.last

# request folder
request

# random sessions
session.*

# pandoc mode preferences
/pandoc-mode/
# ignore files that I keep around as backups (*.OLD files)
*.OLD

# helm leftovers
recentf

# server directory
server/*

# ignore "transient" directory
transient/*